<div class="sticky top-0 z-50">

    <header class="bg-[#072c53] text-white px-6 py-4 flex items-center justify-between">
        <div class="text-xl font-bold tracking-wider">Concept Engineering</div>

        <!-- Desktop Nav -->
        <nav class="hidden md:flex space-x-6">
            <a routerLink="/" routerLinkActive="text-[#ff6c6c]" [routerLinkActiveOptions]="{ exact: true }"
                class="hover:text-[#ff6c6c] transition-colors">
                Home
            </a>

            <a routerLink="/about" routerLinkActive="text-[#ff6c6c]" class="hover:text-[#ff6c6c] transition-colors">
                About
            </a>

            <a routerLink="/services" routerLinkActive="text-[#ff6c6c]" class="hover:text-[#ff6c6c] transition-colors">
                Services
            </a>

            <a routerLink="/contact" routerLinkActive="text-[#ff6c6c]" class="hover:text-[#ff6c6c] transition-colors">
                Contact
            </a>

        </nav>

        <!-- Contact Button -->
        <div class="hidden md:block">
            <button class="bg-[#ff6c6c] hover:bg-[#ff4c4c] px-4 py-2 rounded text-sm font-semibold">Contact Now</button>
        </div>

        <!-- Hamburger Icon (Mobile) -->
        <button class="md:hidden focus:outline-none" (click)="toggleMenu()">
            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </header>


    <!-- Mobile Menu -->
    <div *ngIf="isMenuOpen"
        class="transition-all duration-300 ease-in-out md:hidden  md:hidden bg-[#072c53] px-6 pb-4 space-y-2">
        <a routerLink="/" class="block text-white hover:text-red-400">Home</a>
        <a routerLink="/about" class="block text-white hover:text-red-400">About</a>
        <a href="#" class="block text-white hover:text-red-400">Services</a>
        <a href="#" class="block text-white hover:text-red-400">Contact</a>
        <button class="w-full mt-2 bg-[#ff6c6c] hover:bg-[#ff4c4c] px-4 py-2 rounded text-sm font-semibold">
            Contact Now
        </button>
    </div>
</div>