<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8">
                            <div class="hero__caption">
                                <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Concept Engineering Service</p>
                                <h1 data-animation="fadeInLeft" data-delay=".6s">Engineers</h1>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="#what" class="btn hero-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8">
                            <div class="hero__caption">
                                <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Concept Engineering Service</p>
                                <h1 data-animation="fadeInLeft" data-delay=".6s">Architects</h1>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="#what" class="btn hero-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8">
                            <div class="hero__caption">
                                <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Concept Engineering Service</p>
                                <h1 data-animation="fadeInLeft" data-delay=".6s">Consultants</h1>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="#what" class="btn hero-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- We Trusted Start-->
    <div id="what" class="we-trusted-area trusted-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-7 col-lg-7">
                    <div class="trusted-img">
                        <img src="assets/img/what.png" alt="">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-caption">
                        <h2>What do we do?</h2>
                        <p>At Concept Engineering Service, we provide top-notch engineering services across a wide range of sectors. From IT and web development to HVAC installation, lift and elevators, precision air conditioning, and architecture services, we have the expertise and experience to deliver high-quality results for all our clients.</p>
                        <a href="#" class="btn trusted-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- We Trusted End-->

    <!-- services Area Start-->
    <div class="services-area section-padding2">
        <div class="container">
            <!-- section tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <h2>Our Services</h2>
                        <h3 class="text-heading">At Concept Engineering Service, we offer a comprehensive range of engineering services to meet the needs of our clients. Our services include:</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-checklist"></span>
                        </div>
                        <div class="services-caption text-justify">
                            <h4>Installation of HVAC Systems</h4>
                            <p>Our team of experts specializes in the installation of heating, ventilation, and air conditioning systems for both residential and commercial properties.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-audit"></span>
                        </div>
                        <div class="services-caption text-justify">
                            <h4>Lift & Elevators</h4>
                            <p>We design, install, and maintain a variety of lift and elevator systems, including passenger lifts, freight lifts, and more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-checklist-1"></span>
                        </div>
                        <div class="services-caption text-justify">
                            <h4>Precision Air Conditioning</h4>
                            <p>Our precision air conditioning systems are designed to provide reliable and efficient cooling for critical environments such as data centers, clean rooms, and laboratories.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-checklist-1"></span>
                        </div>
                        <div class="services-caption text-justify">
                            <h4>IT and Web Development</h4>
                            <p>We provide a wide range of IT and web development services, including website design and development, e-commerce solutions, software development, and more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-icon">
                            <span class="flaticon-checklist-1"></span>
                        </div>
                        <div class="services-caption text-justify">
                            <h4>Architecture Services</h4>
                            <p>Our team of architects and designers provide a wide range of architecture services, including building design, interior design, and project management.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="row justify-content-center">
                <div class="room-btn pt-50">
                    <a href="#" class="border-btn">More Services</a>
                </div>
            </div>
        </div>
    </div>
    <!-- services Area End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="container">
            <div class="section-tittle text-center">
                <h2>Our Partners</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-profile mb-30">
                        <!-- Front -->
                        <div class="single-profile-front">
                            <div class="profile-img">
                                <img src="assets/img/partners/p1.png" alt="">
                            </div>
                            <div class="profile-caption">
                                <h4><a href="#">Schneider Electric</a></h4>
                                <p>Schneider Electric is a European multinational company providing energy and automation digital solutions for efficiency and sustainability. It addresses homes, buildings, data centers, infrastructure and industries, by combining energy technologies, real-time automation, software and services.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-profile mb-30">
                        <!-- Front -->
                        <div class="single-profile-front">
                            <div class="profile-img">
                                <img src="assets/img/partners/p2.png" alt="">
                            </div>
                            <div class="profile-caption">
                                <h4><a href="#">Carrier</a></h4>
                                <p>Carrier Global Corporation is an American corporation based in Palm Beach Gardens, Florida. Carrier was founded in 1915 as an independent company manufacturing and distributing heating, ventilating and air conditioning (HVAC) systems, and has since expanded to include manufacturing commercial refrigeration and foodservice equipment, and fire and security technologies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-profile mb-30">
                        <!-- Back -->
                        <div class="single-profile-back-last">
                            <h2>Why Choose Us?</h2>
                            <p>At Concept Engineering Service, we are committed to providing the highest quality engineering services to our clients. Here are just a few reasons why you should choose us for your next project:</p>
                            <a href="#" id="learn-more">Learn More »</a>
                            <div id="additional-content" style="display:none;">
                                <p>Expertise and Experience: With years of experience in the industry, we have the expertise and knowledge to deliver innovative and effective solutions for any project.</p>
                                <p>Attention to Detail: We pay close attention to every detail of a project, ensuring that all aspects of the project are executed to the highest standard.</p>
                                <p>Client-Focused Approach: We work closely with our clients to understand their specific needs and requirements, and we always put their needs first.</p>
                                <p>Competitive Pricing: We offer competitive pricing for all our engineering services, ensuring that our clients get the best value for their investment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team-profile End-->
</main>